#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  margin-bottom: 20px;
}

.user-photo {
  border-radius: 50%;
}

.colorized tr:nth-child(odd) {
  background: #145369;
}

.colorized tr:nth-child(even) {
  background: #134b5f;
}
